# Generic ignores
*.log
*.log.1
*.db
*.db-shm
*.db-wal
*.pyc
._*
*.fault
__pycache__

# Directory (contents) ignores
.cloud
.storage
deps
/tts
/ssh
/image

# Specific file ignores
.uuid
plex.conf
html5_push_registrations.conf
known_devices.yaml
secrets.yaml
.ip_authenticated.yaml
google_service_account.json
ip_bans.yaml
custom_components/spook_inverse

# ESPHome ignores
esphome/secrets.yaml
esphome/**/
esphome/common/secrets.yaml

# www ignores
www/*.jpeg
www/*.jpg
www/*.png
www/*.mp3
www/pics
www/custom-lovelace/upcoming-media-card
www/Radio

# Ignore files created by IDE's
.vscode

# Specific keeps
!esphome/common***/
