- id: '1593364811767'
  alias: Carmel medication reminder
  description: ''
  trigger:
  - at: '11:00:00'
    platform: time
  - at: '17:00:00'
    platform: time
  - at: '23:00:00'
    platform: time
  condition: []
  action:
  - data:
      message: '{{ ["Carmel, it''s time for your tablet",  "Don''t forget to take
        your tablet, Carmel", "Carmel, if you haven''t already taken your tablet,
        its time to take it now", "Remember to take your tablet, Carmel" ] | random
        }}'
    service: notify.broadcast_from_home_assistant
- id: '1601999861619'
  alias: Emma Chore reminder
  description: ''
  trigger:
  - platform: time
    at: '12:00:00'
  condition:
  - condition: time
    weekday:
    - mon
  action:
  - service: notify.mobile_app_emma_s_phone
    data:
      message: Take out recycling today!
      title: Recycling day
      data:
        color: red
        tag: recycling
        sticky: true
  - service: notify.mobile_app_emma_s_phone
    data:
      message: TTS
      title: Hi There, it's recycling day!
      data:
        channel: alarm_stream
  mode: single
- id: '1621126851304'
  alias: upstairs warning
  description: ''
  trigger:
  - platform: state
    entity_id: binary_sensor.upstairs_motion
    to: 'on'
  condition: []
  action:
  - service: notify.mobile_app_jenny_s_oppo_reno
    data:
      message: Movement on landing
      title: Upstairs motion detected
  mode: single
- id: '1631486733542'
  alias: turn on pc in am
  description: ''
  trigger:
  - platform: time
    at: 07:30
  condition: []
  action:
  - service: switch.turn_on
    target:
      entity_id: switch.pc
  mode: single
- id: '1638319707185'
  alias: immersion heater on at 6am
  description: ''
  trigger:
  - platform: time
    at: 06:00
  condition: []
  action:
  - service: switch.turn_on
    target:
      entity_id: switch.immersion_heater
  mode: single
