substitutions:
  devicename: 3d_printer_psu
  friendly_name: 3D Printer PSU
  ip_address: 192.168.1.41
  reboot_time: 0s

packages:
  wifi: !include common/wifi.yaml
  device_base: !include common/aiiat_313_plug.yaml